
@{
    ViewData["Title"] = "_401";
    Layout = AppConst.DEFAULT_LAYOUT;
}
<div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <h1>unauthorized 401</h1>
        <h2><a href="/Home/Login">Please login Here</a></h2>
    </div>
</div>
