@{
    ViewData["Title"] = "ConfirmEmail";
}
<div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <form class="form-signin" method="post" action="/identity/sendemailconfirmation">
            <h3>Confirm Email</h3>
            @await Html.PartialAsync(MvcHelper.GetComponentPath("notification", "_Notification"), ViewData["message"].ToViewMessage())
            <a asp-action="login" asp-controller="identity">To login</a>
        </form>
    </div>
</div>
