@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "Forget Password";
}
<div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <form class="form-signin" method="post" asp-controller="identity" asp-action="ForgetPassword">
            <h1 class="h3 mb-3 font-weight-normal">Forget Password</h1>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input asp-for="Email" autofocus class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
            <br />
            <button class="btn btn-lg btn-primary btn-block" type="submit">Request for change password</button>
            <a asp-controller="identity" asp-action="login">Login</a>
            @await Html.PartialAsync(MvcHelper.GetComponentPath("notification", "_Notification"), ViewData["message"].ToViewMessage())
        </form>
    </div>
</div>

