@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}
<div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <form class="form-signin" method="post" action="identity/identity/login">
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <label>Email address</label>
            <input asp-for="Email" class="form-control" autofocus />
            <span asp-validation-for="Email" class="text-danger"></span>
            <br />
            <label>Password</label>
            <input asp-for="Password" class="form-control">
            <span asp-validation-for="Password" class="text-danger"></span>
            <div class="checkbox mb-3">
                <label>
                    <input asp-for="RememberMe" /> Remember me
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            <a asp-controller="identity" asp-action="register">Register</a> |
            <a asp-controller="identity" asp-action="forgetpassword">Forget Password</a>

            @await Html.PartialAsync(MvcHelper.GetComponentPath("notification", "_Notification"), ViewData["message"].ToViewMessage())
        </form>
    </div>
</div>
