@model Identity.Model.ViewModel.ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/_Layout.cshtml";
    string message = (string)ViewData["message"] ?? "";
}
<form class="form-signin" method="post" action="/identity/resetpassword">
    <h1 class="h3 mb-3 font-weight-normal">Reset your password</h1>

    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="Password" name="Password" class="form-control" placeholder="Password" required />

    <label for="inputPassword" class="sr-only">Confirm Password</label>
    <input type="password" id="ConfirmPassword" name="ConfirmPassword" class="form-control" placeholder="Password" required />

    <input type="hidden" id="Email" name="Email" value="@Model.Email" />
    <input type="hidden" id="Token" name="Token" value="@Model.Token" />
    <button class="btn btn-lg btn-primary btn-block" type="submit">Reset the password</button>
    <a href="/identity/register">Register</a>
    <a href="/identity/forgetpassword">Forget Password</a>
    @if (!string.IsNullOrEmpty(message))
    {
        <div class="alert alert-danger" role="alert">@message</div>
    }
</form>


