@model string
@{
    ViewData["Title"] = "Send Email Confirmation";
}
<div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <form class="form-signin" method="post" asp-controller="identity" asp-action="sendemailconfirmation">
            <h1 class="h3 mb-3 font-weight-normal">Send Email Confirmation</h1>
            <label for="inputEmail">Email address</label>
            <br />
            <input type="email" id="Email" name="Email" class="form-control" placeholder="Email address" required autofocus value="@Model" />
            <br />
            <button class="btn btn-lg btn-primary btn-block" type="submit">Send</button>
            <br />
            <a asp-action="login" asp-controller="identity">Go to login</a>
            @await Html.PartialAsync(MvcHelper.GetComponentPath("notification", "_Notification"), ViewData["message"].ToViewMessage())
        </form>
    </div>
</div>


