<div class="collapse">
    <h4 style="padding-left:10px;color:white">Shop</h4>
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <a href="@Identity.IdentityGlobalConfig.HostModules[App.SharedKernel.Model.Enums.Modules.Item]" class="nav-link">
                <span class="oi oi-home" aria-hidden="true"></span> SHOP
            </a>
        </li>
    </ul>
</div>