@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/_Layout.cshtml";
    string message = (string)ViewData["message"] ?? "";
    string token = (string)ViewData["token"] ?? "";
}

    <form class="form-signin" method="post" action="/identity/ForgetPassword">
        <h1 class="h3 mb-3 font-weight-normal">Forget Password</h1>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="Email" name="Email" class="form-control" placeholder="Email address" required autofocus />
        <br />
        <button class="btn btn-lg btn-primary btn-block" type="submit">Request for change password</button>
        <a href="/identity/login">Login</a>
        @if (!string.IsNullOrEmpty(message))
        {
            <div class="alert alert-danger" role="alert">@message</div>
        }
        @if (!string.IsNullOrEmpty(token))
        {
            <a href="@token">Click to reset password</a>
        }
    </form>

