
@{
    ViewData["Title"] = "403";
    Layout = (User.Identity.IsAuthenticated) ? "~/Views/_LayoutAuthorizedGranted.cshtml" : "~/Views/_Layout.cshtml";

}
<h1>We have forbidden problem</h1>
<p>Sorry, an error occurred while executing your request.</p>
<a href="/">Click here for go to home page</a>
