
@{
    ViewData["Title"] = "404";
    Layout = (User.Identity.IsAuthenticated) ? "~/Views/_LayoutAuthorizedGranted.cshtml" : "~/Views/_Layout.cshtml";
}
<h1>404 - Page not found</h1>
<p>Oops, better check that URL.</p>
<a href="/">Click here for go to home page</a>
